<?xml version="1.0"?>
<!-- web.xml is used to configure information about the web server (not ReST API) portion of the project -->
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee    http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	
	<display-name>media</display-name>

	<!-- The welcome-file-list directive tells the container server which file names to look for in a directory. -->
	<!-- For example, with the following welcome-file-list, if a user navigates to mysite.com/ and the file index.xhtml is in the root of the webapp directory, their web browser will receive the same content as if they had navigated to mysite.com/index.xhtml -->
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!-- This is included to direct the Java EE web server to look for the icing tag library -->
	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/WEB-INF/icingplayer.taglib.xml</param-value>
	</context-param>
</web-app>
